[2016-08-18 00:42] junpaolo opened #1 "Home - Unable to log in"
Scenario:
User will try to log in

Observed Result:
Unable to log in. Error message displays

Expected Result:
Log in successful

![111](https://cloud.githubusercontent.com/assets/20081753/17758195/faa5d50e-651f-11e6-91d4-9bc990b7f107.png)

[2016-08-18 00:52] jtolen opened #2 "Price List and groups"
TEST ISSUE

[2016-08-18 00:54] jtolen commented on #1
Closed Issue

[2016-08-18 00:54] #1 closed, assigned to nobody

[2016-08-18 00:55] junpaolo commented on #1
super comment 1

[2016-08-18 00:58] junpaolo opened #3 "Reports - Unable to generate report"
Scenario:
User will try to generate local report

Observed Result:
No report generated

Expected Result:
Generation of report successful

![pmc](https://cloud.githubusercontent.com/assets/20081753/17758432/edae202a-6521-11e6-8897-17ce0f990357.png)

[2016-08-18 01:03] #3 closed, assigned to jparala

[2016-08-18 03:11] #2 closed, assigned to nobody

[2016-08-18 03:11] junpaolo commented on #2
testing lang

[2016-08-18 05:04] junpaolo opened #4 "Comparison Report - Badge count is set to 0 value"
**Scenario:**
User will validate the Comparison Report main page

**Steps:**
1. Click the Reports dropdown button from the navigation bar
2. Select Report List
3. Choose Comparison Report

**Observed Result:**
Product Group available items badge has a value of 0

**Expected Result:**
Each badge must reflect the total amount of items from the list

![product group available badge error always set t

[2016-08-18 06:14] jtolen opened #5 "Pricel list and groups - ajax error"
Scenario:
Saving price list Max discount changes

Observed Result:
Does not save changes due to ajax error

Expected Result:
Changes will be saved without errors

Test Steps:
1. Choose any price list name
2. Input a valid amount
3. Click Save button

![10](https://cloud.githubusercontent.com/assets/19830714/17763850/0375704e-654e-11e6-9b60-4dff0b2fbdc5.png)

[2016-08-18 06:43] jtolen opened #6 "Price list and groups - ajax error"
Scenario:
Activate Price List changes

Observed Result:
Does not save changes due to ajax error

Expected Result:
Changes will be saved without errors

Test Steps:
1. Select items to activate
3. Click Save button

![17](https://cloud.githubusercontent.com/assets/19830714/17764480/286b4e10-6552-11e6-9d3f-cbd5762e5bfd.png)

[2016-08-18 06:57] jtolen opened #7 "Price List and groups - ajax error"
Scenario:
Deactivate price List changes

Observed Result:
Does not save changes due to ajax error

Expected Result:
Changes will be saved without errors

Test Steps:
1. Select item to deactivate
2. Click Save button

![24](https://cloud.githubusercontent.com/assets/19830714/17764755/03bf4268-6554-11e6-8e16-8e24b1055595.png)

[2016-08-18 07:07] jtolen opened #8 "Price List and groups - Ajax Error"
Scenario:
Rename price List

Observed Result:
Does not save changes due to ajax error

Expected Result:
Changes will be saved without errors

Test Steps:
1. Select price list to rename
2. Click Save button

![27](https://cloud.githubusercontent.com/assets/19830714/17764948/75a0660e-6555-11e6-98b7-c5626496281f.png)

[2016-08-18 07:33] jtolen opened #9 "Price List and Groups - Clear button (search)"
Scenario:
Click Clear button with Active search input criteria and results

Observed Result:
Input criteria was cleared but not the Previous search results

Expected Result:
Input criteria and previous search results will be cleared

Test Steps:
Click Clear button

![35](https://cloud.githubusercontent.com/assets/19830714/17765525/f0b77f1e-6558-11e6-9e34-098e3776f649.png)

[2016-08-18 20:53] vernonminer commented on #9
Resolved by changing JavaScript file.

[2016-08-19 00:27] jtolen commented on #9
Still encounter the same issue

![image](https://cloud.githubusercontent.com/assets/19830714/17794974/c6ef0c0e-65e6-11e6-8f78-3d491e67cd12.png)

[2016-08-19 00:44] jtolen opened #10 "Price List and Groups - Manage Price List - Search Results Action button"
Scenario:
Manage Price List: Active Search Price List Search result list

Observed Result:
Unable to edit any result by clicking the action button

Expected Result:
User if admin, can edit any of the result just by clicking the action button

Test Steps:
1. Fill out all parameters with valid values
2. Click Search

![36](https://cloud.githubusercontent.com/assets/19830714/17795215/1b57e426-65e9-11

[2016-08-19 01:34] jtolen opened #11 "Price List and Groups - Manage Price List - Search Results"
Scenario:
Manage Price List - Active Search display for Price List Group Text only

Observed Result:
Search List display is for Price List Text

Expected Result:
Search results display should be for Price List group Text

Test Steps:
1. Input valid Price List Group only
2. Click Search

![image](https://cloud.githubusercontent.com/assets/19830714/17796034/0f9a7ec6-65f0-11e6-9d2f-47f895944c5f.png)

[2016-08-19 01:35] jtolen opened #12 "Price List and Groups - Manage Price List - Search Results"
Scenario:
Manage Price List - Active Search display for Product Text only

Observed Result:
Search List display is for Price List Text

Expected Result:
Search results display should be for Product Text

Test Steps:
1. Input valid Product only
2. Click Search

![image](https://cloud.githubusercontent.com/assets/19830714/17796056/4b89808a-65f0-11e6-878b-ab0224b9bf97.png)

[2016-08-19 01:41] jtolen opened #13 "Price List and Groups - Manage Price List - Search Results"
Scenario:
Manage Price List - Active Search display for desired value with Max Discount %

Observed Result:
Search List display is for Price List Text

Expected Result:
Search results displayed ALL

Test Steps:
1. Input a desired value together with Max Discount percent
2. Click Search

![image](https://cloud.githubusercontent.com/assets/19830714/17796146/211083f2-65f1-11e6-9005-3053699425aa.png)

[2016-08-19 01:43] jtolen opened #14 "Price List and Groups - Manage Price List - Search Results"
Scenario:
Manage Price List - Active Search display for desired value with Max Discount comparison

Observed Result:
Search List display is for Price List Text

Expected Result:
Search results displayed ALL

Test Steps:
1. Input a desired value together with Max discount Comparison
2. Click Search

![image](https://cloud.githubusercontent.com/assets/19830714/17796183/689113c2-65f1-11e6-842a-c3a212

[2016-08-19 01:44] coleenmarie opened #15 "HOME -Page Layout"
**Scenario:**
Incorrect label name,  label location and Manufacturer button

**Observed Result:**
   a. "Search" label should be "Product Search"
   b. "Indicates Required Field" label should be located inside the Filter By
   c.  "Lens Type" should be "Selected Lens Type"
   d.  Defective UI button on "Manufacturer Expand"

**Expected Result:**
Page Layout should be the same as defined from the D

[2016-08-19 01:53] jtolen opened #16 "Price List and Groups - Manage Price List - Search Results"
Scenario:
Manage Price List - Inactive Search display for Price List Group only

Observed Result:
Search List display is for Price List Text

Expected Result:
Search results display should be for Price List Group

Test Steps:
1. Input valid Price List Group only
2. Click Search

![40](https://cloud.githubusercontent.com/assets/19830714/17796409/d93a2e5a-65f2-11e6-96b0-76bdb3cef5b1.png)

[2016-08-19 01:58] jtolen opened #17 "Price List and Groups - Manage Price List - Search Results"
Scenario:
Manage Price List - Inactive Search display for Product Text only

Observed Result:
Search List display is for Price List Text

Expected Result:
Search results display should be for Product Text

Test Steps:
1. Input valid Product only
2. Click Search

![41](https://cloud.githubusercontent.com/assets/19830714/17796491/7233f10e-65f3-11e6-824c-f4e9f006a678.png)

[2016-08-19 02:03] jtolen opened #18 "Price List and Groups - Manage Price List - Search Results"
Scenario:
Manage Price List - Inactive Search display for desired value with "Max Discount % is"

Observed Result:
Search List display is for Price List Text

Expected Result:
Search results displayed ALL

Test Steps:
1. Input a desired value together with Max Discount percent
2. Click Search

![42](https://cloud.githubusercontent.com/assets/19830714/17796583/1aed3f3a-65f4-11e6-899f-7834bee3bcdd.p

[2016-08-19 02:03] jtolen opened #19 "Price List and Groups - Manage Price List - Search Results"
Scenario:
Manage Price List - Inactive Search display for desired value with Max Discount comparison

Observed Result:
Search List display is for Price List Text

Expected Result:
Search results displayed ALL

Test Steps:
1. Input a desired value together with Max discount Comparison
2. Click Search

![43](https://cloud.githubusercontent.com/assets/19830714/17796592/313ec182-65f4-11e6-83ba-1dd5991

[2016-08-19 02:06] jtolen opened #20 "Price List and Groups - Manage Price Lists - Clear button (search)"
Scenario:
Click Clear button with Inactive search input criteria and results

Observed Result:
Input criteria was cleared but not the Previous search results

Expected Result:
Input criteria and previous search results will be cleared

Test Steps:
Click Clear button

![44](https://cloud.githubusercontent.com/assets/19830714/17796628/85f95962-65f4-11e6-9fe0-2c270879abf6.png)

[2016-08-19 02:12] junpaolo opened #21 "Ranking Report - Badge count is set to 0 value"
Scenario:
User will validate the Ranking Report main page

Steps:
1. Click the Reports dropdown button from the navigation bar
2. Select Report List
3. Choose Ranking Report

Observed Result:
Product Group available items badge has a value of 0

Expected Result:
Each badge must reflect the total amount of items from the list

![ranking report main page error](https://cloud.githubusercontent.com/as

[2016-08-19 02:13] jtolen opened #22 "Price List and Groups - Manage Price List - Search Results Action button"
Scenario:
Manage Price List: Inactive Search Price List Search result list

Observed Result:
Unable to edit any result by clicking the action button

Expected Result:
User if admin, can edit any of the result just by clicking the action button

Test Steps:
1. Fill out all parameters with valid values
2. Click Search

![45](https://cloud.githubusercontent.com/assets/19830714/17796732/93368676-65f5-

[2016-08-19 02:22] jtolen opened #23 "Price List and Groups - Manage Price List - Edit Search Results"
Scenario:
Manage price List: Edit search result

Observed Result:
Action button has no action

Expected Result:
Clicking Action button will enable to edit item from search results

Test Steps:
1. Search and select pricelist then click the edit button
2. Edit desired field/s
3. Click save/update button

![48](https://cloud.githubusercontent.com/assets/19830714/17796896/d813109c-65f6-11e6-914e-6bd24

[2016-08-19 03:16] jtolen opened #24 "Price List and Groups - Create Price List Groups"
Scenario:
Creation of New Price List group

Observed Result:
Return error upon saving new price list group with completed mandatory fields. New Price List group was not saved.

Expected Result:
New price list group should be created with complete mandatory fields

Test Steps:
1. Fill up the name and comment. Don’t include price lists
2. Click Save

![55](https://cloud.githubusercontent.com/assets/

[2016-08-19 03:17] jtolen opened #25 "Price List and Groups - Create Price List Groups"
Scenario:
Creation of New Price List group

Observed Result:
Return error upon saving new price list group using all fields. New Price List group was not saved.

Expected Result:
New price list group should be created

Test Steps:
1. Fill up the name and comment
2. Select Price lists
3. Click Save

![56](https://cloud.githubusercontent.com/assets/19830714/17797818/7e1623ec-65fe-11e6-8262-7dc9abb33

[2016-08-19 04:23] coleenmarie opened #26 "PRODUCTS & GROUPS - Manage Products"
**Scenario:**
Loading search in manage products
**Observed Result:**
While search is in progress  "undefined" text displays intermittently on top of  copy, excel, print button in search panel
**Expected Result:**
there should be no "undefined" text displayed

![undefined intermittent](https://cloud.githubusercontent.com/assets/20077923/17798823/a2951c10-6607-11e6-9763-e99a2a6d5f9f.JPG)

[2016-08-19 05:42] jtolen opened #27 "Query - Set private query to inactive"
Scenario:
Changing private query to inactive

Observed Result:
No action upon clicking the Save button.

Expected Result:
private query should be set as Inactive, save changes.

Test Steps:
1. Click action button to edit query details
2. Select Active NO
3. Click Save button

![3](https://cloud.githubusercontent.com/assets/19830714/17800086/ad3cb528-6612-11e6-8e19-a31518d1fcdb.png)

[2016-08-19 05:58] jtolen opened #28 "Query - Saving query changes"
Scenario:
Saving private query changes

Observed Result:
Does not save changes made to existing query. No action on Save button

Expected Result:
Changes will be saved after clicking Save button

Test Steps:
1. Click action button for load query
2. Change desired data/field
3. Click save button

![5](https://cloud.githubusercontent.com/assets/19830714/17800333/f2b8caae-6614-11e6-83b5-e08c6f877f5e.

[2016-08-19 06:15] jtolen opened #29 "Query - Saving query changes"
Scenario:
Changing query to Inactive

Observed Result:
Unable to set query to inactive, no action on save button

Expected Result:
changes will be saved after clicking Save button

Test Steps:
1. Click on query detail action button
2. set Active NO
3. Click Save button

![7](https://cloud.githubusercontent.com/assets/19830714/17800631/64575d72-6617-11e6-9008-a02f9766fa4f.png)

[2016-08-19 06:22] jtolen opened #30 "Query - display of inactive public queries"
Scenario:
Display of Inactive public queries

Observed Result:
No return result display for inactive public queries

Expected Result:
Should display all inactive queries

Test Steps:
1. Click Public Queries
2. Set Active NO

![9](https://cloud.githubusercontent.com/assets/19830714/17800664/aeaf7dbe-6617-11e6-90da-a47876e85c0a.png)

[2016-08-19 06:25] jtolen opened #31 "Query - Saving query changes"
Scenario:
Saving public query changes

Observed Result:
Does not save changes made to existing query. No action on Save button

Expected Result:
Changes will be saved after clicking Save button

Test Steps:
1. Click action button for load query
2. Change desired data/field
3. Click save button

![11](https://cloud.githubusercontent.com/assets/19830714/17800803/b7969cea-6618-11e6-9e14-7658073752c8.

[2016-08-19 07:31] jparala opened #32 "Users - No Print/Export button is displayed in the New User page"
Scenario:
In Create New User page, click Print/Export button to print or export user details.

Observed Result:
No "Print / Export" button is displayed in the create new user page.

Expected Result:
"Print / Export" button is displayed in the page.

Screenshot:
![pic14](https://cloud.githubusercontent.com/assets/21092654/17802292/fabb8dd8-6621-11e6-93fd-d21eed3fb6b9.JPG)

[2016-08-19 07:34] jparala opened #33 "Users - Encountered Server Model Error when adding/saving the new user"
Scenario:
In create new user page, input details in all required fields and click "Save" button.

Observed Result:
A message "Server model error" is displayed.

Expected Result:
New user is successfully created.

Screenshot:
![pic13](https://cloud.githubusercontent.com/assets/21092654/17802352/5e7bd9c2-6622-11e6-8c6b-7b20db79d364.JPG)

[2016-08-19 07:37] jparala opened #34 "Users - Cannot validate if only administrators have the "Manage Existing User""
Scenario:
Check if Manage Existing User is available only on Administrators.

Observed Result:
Cannot validate as all given accounts are administrators.

Expected Result:
Give test accounts with different roles (Guest and Approver).

[2016-08-19 07:41] jparala opened #35 "Users - Encountered Error when updating existing user details"
Scenario:
In Edit User page, edit any details and click Save button.

Observed Result:
Encountered error when updating existing user details.

Expected Result:
Details are successfully updated.

Screenshot:
![pic27](https://cloud.githubusercontent.com/assets/21092654/17802523/5a4992d0-6623-11e6-8ec4-6dc7689594c0.JPG)

[2016-08-19 07:43] jparala opened #36 "Users - Encountered error when deleting existing user"
Scenario:
In Edit User page, click Delete button.

Observed Result:
An error "Failed to delete user, try again" is displayed.

Expected Result:
User is successfully deleted.

Screenshot:
![pic23](https://cloud.githubusercontent.com/assets/21092654/17802589/a6b20b48-6623-11e6-8c6c-51203869cf3e.JPG)

[2016-08-19 07:46] jparala opened #37 "Users - No Print/Export button displayed in the Edit User page"
Scenario:
In Edit User page, click Print/Export button to print or export the user details.

Observed Result:
No Print/Export button displayed in the page.

Expected Result:
Print/Export button is displayed in the edit user page.

Screenshot.
![pic8](https://cloud.githubusercontent.com/assets/21092654/17802641/0142a25c-6624-11e6-89b4-cd78678d47d8.JPG)

[2016-08-19 07:52] jparala opened #38 "Home - There are criterion with blank selection"
Scenario:
In Home page, select any items in the fields.

Observed Result:
Some criterion have blank selections.

Question: Is this a defect?

Screenshots
<img width="817" alt="pic107" src="https://cloud.githubusercontent.com/assets/21092654/17802790/db7fd6ce-6624-11e6-8e2c-39a1832d6aaa.png">
<img width="816" alt="pic108" src="https://cloud.githubusercontent.com/assets/21092654/17802794/e0befad4-66

[2016-08-19 14:02] vernonminer commented on #38
This is as designed. For those criteria a blank selection is valid.

[2016-08-19 14:02] #38 closed, assigned to vernonminer

[2016-08-19 15:24] vernonminer commented on #15
Updated Documentation. Screen labels are correct. Expand Manufacturer switch is not distorted in any browser I open the screen in.

[2016-08-20 00:12] coleenmarie commented on #15
Setting the browser's zoom level to default size - Expand Manufacturer's switch is not distorted but other switches are distorted. Try changing the zoom level higher or lower to see other distorted switches as shown below.

![image](https://cloud.githubusercontent.com/assets/20077923/17827270/825284ba-66ac-11e6-9c18-7f9f6f33c73c.png)

[2016-08-20 01:47] coleenmarie opened #39 "PRODUCTS & GROUPS - Manage Products> Product List panel > Edit Product Details > Details Panel"
**Scenario:**
User will view product Details

**Observed Result:**
Was able to alter/modify made selection on all fields in the details panel in Edit Product Details

**Expected Result:**
All of the fields in the details panel are displayed as read-only values. The values displayed are the selections that a user would make on the home search view for the specific field.

![image](https://cloud.git

[2016-08-20 02:17] coleenmarie opened #40 "PRODUCTS & GROUPS - Edit Product Details > Product Group Details> Remove action button"
**Scenario:**
User granted with modify product group should able to remove product from the product group details panel.

**Observed Result:**
Role: Administrator;  Privilege : Can modify product group
1. Clicking remove button was not able to remove product group
2. Clicking remove button, page number disappears. & Copy, Excel, Print button disappears.
3. Clicking remove button, product list sort

[2016-08-20 02:41] junpaolo opened #41 "Benchmark Report - Help block not visible"
**Scenario:**
User will validate the help block section in Benchmark Report

**Steps:**
1. Navigate to Benchmark Report
2. Check each reports if the Help block is visible

**Observed Result:**
Help block not visible

**Expected Result:**
The Help block at the bottom is there to remind the user of how to use the criteria and what can be expected in the return.

![no help block](https://cloud.github

[2016-08-20 03:10] junpaolo opened #42 "Comparison Report - Help block not visible"
**Scenario:**
User will validate the help block section in Comparison Report

**Steps:**
1. Navigate to Comparison Report
2. Check each reports if the Help block is visible

**Observed Result:**
Help block not visible

**Expected Result:**
The Help block at the bottom is there to remind the user of how to use the criteria and what can be expected in the return.

![comparison report main](https://c

[2016-08-20 03:11] coleenmarie opened #43 "PRODUCTS & GROUPS - Manage Products> Product List panel > Edit Product Details > Product Group Details > Remove button"
**Scenario:**
Error message is displayed when removing product from the product group fails

**Observed Result:**
No error message shown upon clicking remove action button

**Expected Result:**
Error message is displayed in red below the action buttons

![image](https://cloud.githubusercontent.com/assets/20077923/17828487/ab806488-66c5-11e6-824a-94d390e3003b.png)

[2016-08-20 03:12] junpaolo opened #44 "Ranking Report - Help block not visible"
**Scenario:**
User will validate the help block section in Ranking Report

**Steps:**
1. Navigate to Ranking Report
2. Check each reports if the Help block is visible

**Observed Result:**
Help block not visible

**Expected Result:**
The Help block at the bottom is there to remind the user of how to use the criteria and what can be expected in the return.

![clear button](https://cloud.githubuserc

[2016-08-20 03:54] coleenmarie opened #45 "PRODUCTS & GROUPS - Manage Products> Product List"
Sorting list to ascending or descending list in the product list table,  column re-sizes?

[2016-08-20 03:58] coleenmarie opened #46 "PRODUCTS & GROUPS - Manage Products > Help Block"
**Scenario:**
Help Block in Manage Products
**Observed Result:**
Help lock is not visible
**Expected Result:**
Help Block should be available

![product-008](https://cloud.githubusercontent.com/assets/20077923/17828748/4e989904-66cd-11e6-958c-3043591859cf.png)

[2016-08-20 04:14] coleenmarie opened #47 "PRODUCTS & GROUPS - Manage Products> Product List panel > Edit Product Details"
Approval/ Rejection Comment field in Edit Product Details is available and disabled.  but not defined in the developer's notebook.

[2016-08-20 04:29] junpaolo opened #48 "Users - Unable to change user role"
Scenario:
Select a user and change the role

Steps:
1. Select manage users from the  users dropdown list button
2. Search user
3. Click the action button
4. In the Role dropdown list, change the user's role
5. Click save

Observed Result:
Unable to change user role. error message displayed "Failed to update user. Please try again"

Expected Result:
Changing user role successful

![edit user role e

[2016-08-20 04:35] junpaolo opened #49 "Ranking Report - How to execute this scenario"
Hi Vernon,

I want to clarify how to execute this one from the Developer Notebook - Web Site Page96

![error message availble list](https://cloud.githubusercontent.com/assets/20081753/17829014/86ae4f5a-66d2-11e6-9c63-f11bf2642503.png)

Pls. advise thanks

[2016-08-20 04:50] coleenmarie opened #50 "PRODUCTS & GROUPS - Manage Products > Product List >Edit Product Details"
Was not able to view in read-only mode because was not able to change role as guest
The following fields are that needs to view in read-only:
Product List, Product code, Product comment, Price Multiplier, Cost, Activate Status Yes/No switch in Products & Groups - Product List

[2016-08-20 04:53] junpaolo opened #51 "Test data needed"
**Users**
-dummy log in name. need this to create a new user

**Products and Groups**
-price multiplier
-product code

[2016-08-20 05:05] coleenmarie opened #52 "PRODUCTS & GROUPS - Edit Product Details > Update button"
**Scenario:**
update a product

**Observed Result:**
Clicking update button encountered error message:  "Server model error"

**Expected Result:**
Able to update changes applied to the product details.

![image](https://cloud.githubusercontent.com/assets/20077923/17829119/c914156a-66d6-11e6-8989-7674ce6e9a5d.png)

[2016-08-20 05:22] coleenmarie opened #53 "PRODUCTS & GROUPS - Manage Product Groups > Product Group List panel"
Observed Result:
"undefined " is visible on top of copy, excel, print buttons
Expected Result:
There should be no "undefined " on top of copy, excel, print buttons

![image](https://cloud.githubusercontent.com/assets/20077923/17829182/09cc642a-66d9-11e6-97f0-587a6625f7ee.png)

[2016-08-20 11:29] coleenmarie opened #54 "PRODUCTS & GROUPS - Manage Product Groups"
**Scenario:**
Allows user to specify text in the Sub Product Group Text to search

**Observed Result:**
Did not return "correct" search results on Sub Product Group text

**Expected Result:**
Should able to return search result

![image](https://cloud.githubusercontent.com/assets/20077923/17830862/d861d5f4-670b-11e6-847e-56eed5b8ce4b.png)

[2016-08-21 15:44] coleenmarie opened #55 "PRODUCTS & GROUPS - Manage Product Groups > Product Text - "Test Data""
**Scenario:**
User inputs value on Product Text field. Should the search result be based on the value inputted in the Product Text field if Yes, search result is incorrect.

If No, search result returns depends on its category - Group Code or Group Text. Test data will be needed to validate this.  (Provide test data)

**Observed Result:**
Was able to display search in progress but could NOT valida

[2016-08-21 15:59] coleenmarie opened #56 "PRODUCTS & GROUPS - Manage Product Groups > Search result on null fields"
**Scenario:**
Left all fields blank to search all products

**Observed Result:**
Search result was not able to return all available data and "undefined" appeared after loading search in the Product Group List panel

**Expected Result:**
Search result returns list  all products

![image](https://cloud.githubusercontent.com/assets/20077923/17838244/dc67475c-67fa-11e6-975b-59de0333ab28.png)

[2016-08-21 16:20] coleenmarie opened #57 "PRODUCTS & GROUPS - Manage Product Groups > Product Group List panel > Excel button"
**Scenario:**
Export to excel spreadsheet

**Observed Result:**
Was not able to export entire result "Status" to the excel sheet

**Expected Result:**
Export entire result to excel spreadsheet

![image](https://cloud.githubusercontent.com/assets/20077923/17838354/1a24fb18-67fe-11e6-83f0-45dce29fe331.png)

![image](https://cloud.githubusercontent.com/assets/20077923/17838355/2f728b16-67fe-11e6-8d6b

[2016-08-21 16:57] coleenmarie opened #58 "PRODUCTS & GROUPS - Manage Product Groups > Product Text - Test data"
Product Text - need to have test data of active and inactive products to validate returned  search results

[2016-08-21 17:32] coleenmarie opened #59 "PRODUCTS & GROUPS - Manage Product Groups > Product Group List panel > Copy button"
**Scenario:**
Copy to clipboard entire result

**Observed Result:**
Was able to copy to clipboard but was not able to export entire result "Status" to the word document

**Expected Result:**
Paste copied in the clipboard to any chosen application

![image](https://cloud.githubusercontent.com/assets/20077923/17838821/ce96745a-6808-11e6-8776-51802f5707b9.png)

![image](https://cloud.githubuserconten

[2016-08-21 17:54] coleenmarie opened #60 "PRODUCTS & GROUPS - Manage Product Groups > Edit Product Group"
**Scenario:**
User able to edit Product Group

**Observed Result:**
Did not redirect link to Edit Product Group waited 10 mins to load the link, stuck to "Please Wait"

**Expected Result:**
Re-direct link to Edit Product Group and to check parameters that should have valid values and cannot and can be altered fields.

![image](https://cloud.githubusercontent.com/assets/20077923/17838890/e0cdf75e-6

[2016-08-21 17:58] coleenmarie opened #61 "PRODUCTS & GROUPS - Manage Product Groups > Product Group List panel > Print button"
Scenario:
Create printable entire result

Observed Result:
Was able to  export entire result "Status" to the printable version

Expected Result:
Print entire result.

![image](https://cloud.githubusercontent.com/assets/20077923/17838945/4fe8f25a-680c-11e6-854c-a4bcdb62c238.png)

[2016-08-21 18:05] coleenmarie commented on #60
Connectivity issue resolved.
Able to view "Edit Products Group" link

![image](https://cloud.githubusercontent.com/assets/20077923/17838965/d4e5d932-680c-11e6-8b0a-b30c4c142f5a.png)

[2016-08-21 18:05] #60 closed, assigned to nobody

[2016-08-22 01:56] junpaolo opened #62 "QUERY - Unable to delete inactive query"
Scenario:
User will try to delete an inactive query

Steps:
1. Set your query first to inactive
2. Click delete button

Observed Result:
Unable to delete

Expected Result:
Deleting inactive query successful

![delete an inactive status failed](https://cloud.githubusercontent.com/assets/20081753/17841768/b853a64a-684e-11e6-8081-05330dd8c82c.png)

[2016-08-22 06:42] junpaolo opened #63 "Products and Groups - how to execute"
Hi Vernon,

Seeking assistance on how to execute this. Thanks.

![how to execute](https://cloud.githubusercontent.com/assets/20081753/17845716/8f555acc-6876-11e6-83ff-49824649f959.png)

[2016-08-22 14:14] vernonminer commented on #63
Clicking on the "Pencel" action button will attempt to load the product group. The displayed example would occur if there was an issue reading the selected product group from the database. (For example another user deletes the product group.)

[2016-08-22 14:16] vernonminer commented on #55
You can execute a query in the SQL Server Management Studio in the PMOperation database to verify returned data.

[2016-08-22 14:49] vernonminer commented on #36
Updated stored procedures in QA DB to match DEV DB.

Note: Deleting user with active status = true will deactivate user. Deleting user with active status = false will remove user from DB.

[2016-08-22 15:03] vernonminer commented on #35
Updated QA stored procedure to match DEV stored procedure.

[2016-08-22 15:04] vernonminer commented on #33
Updated QA stored procedure to match DEV stored procedure.

[2016-08-22 15:05] vernonminer commented on #32
Removed from documentation.

[2016-08-22 15:07] vernonminer commented on #37
Same as #32

[2016-08-22 20:43] vernonminer commented on #30
List can be 0 entries when there are no inactive public queries. I updated the active status of a public query to be inactive. List display active or inactive as expected.

[2016-08-22 21:21] vernonminer commented on #31
Updated JavaScript file to not refresh loaded query. Tested as follows to make sure loaded query was updated as expected.
1. Loaded existing private query

initial values

![savequerybefore](https://cloud.githubusercontent.com/assets/15823308/17872019/cfcc3744-6883-11e6-95e7-0c6934f2945a.png)
1. Altered values on search view.

![savequeryafter](https://cloud.githubusercontent.com/assets/15823308/1

[2016-08-22 21:25] vernonminer commented on #29
Updated DB stored proc.

[2016-08-22 21:26] vernonminer commented on #28
See #31

[2016-08-22 21:28] vernonminer commented on #27
See #29

[2016-08-22 21:42] vernonminer commented on #62
Deleting a query with active status = true will deactivate the query. Deleting a query with active status = false will remove the query from the database. Active status used to determine process is read from DB. Therefore, the process described above requires the user to click on the "Delete" button twice. The first time will set the active status in the DB to inactive, the second would remove it

[2016-08-23 00:57] junpaolo opened #64 "Query - INACTIVE public query visible in my private query"
**Scenario:**
User will view his inactive private queries

**Observed Result:**
Public query visible in my private queries

**Expected Result:**
The list will display my inactive private queries

![public query visible in my private queries](https://cloud.githubusercontent.com/assets/20081753/17876750/8c9294fa-690f-11e6-9d48-bf9b582bbcf3.png)

[2016-08-23 01:12] junpaolo commented on #62
Hi Vernon,

Still experiencing the same issue sir. Please refer below:

![delete inactive query error](https://cloud.githubusercontent.com/assets/20081753/17876968/a4dde846-6911-11e6-8847-44a736d22525.png)

[2016-08-23 01:27] jtolen commented on #29
Still unable to save changes. No action on clicking Save button.

![image](https://cloud.githubusercontent.com/assets/19830714/17877210/cee0ac8a-6913-11e6-9334-ba63a34938b3.png)

[2016-08-23 01:42] jtolen commented on #31
Validated save changes for editing query

[2016-08-23 01:45] mvillanueva2016 opened #65 "test issue c/o Beth"
Test Issue Log

[2016-08-23 01:46] jtolen commented on #30
Hi Vernon, Should I be able to see inactive public query even if I did not create it?
I updated 1 active public query and set it to inactive, but I did not create it and I cannot see it from the list display of inactive public queries.

[2016-08-23 02:04] #65 closed, assigned to nobody

[2016-08-23 02:04] mvillanueva2016 opened #66 "test issue c/o Beth v2.0"
test log

[2016-08-23 02:08] #66 closed, assigned to nobody

[2016-08-23 03:00] #63 closed, assigned to vernonminer

[2016-08-23 14:09] vernonminer commented on #42
Help blocks are optional for the display. If there is no content in the database it is not displayed. The documentation includes a discussion of the help block for completeness. Realistically, no help block should be expected until after the addition of the "Manage Content" option in the maintenance menu. That is where the administrators can provide content for the help blocks.

[2016-08-23 14:10] vernonminer commented on #41
Help blocks are optional for the display. If there is no content in the database it is not displayed. The documentation includes a discussion of the help block for completeness. Realistically, no help block should be expected until after the addition of the "Manage Content" option in the maintenance menu. That is where the administrators can provide content for the help blocks.

[2016-08-23 14:16] vernonminer commented on #45
The implementation of the jQuery DataTables plug in does not provide for column resize in this application.

[2016-08-23 14:36] vernonminer commented on #49
To display an error on the "Selected" list side is difficult for this criterion because even though it is marked as required the OR condition overrides that requirement. If you select no price list and no price list group and click the submit button the required error is displayed on the "Selected" side of the price list not the price list group.

To display an error on the "Available" list side i

[2016-08-23 15:35] vernonminer commented on #64
Stored procedure error. Applied additional filter in controller code.

[2016-08-23 16:08] vernonminer commented on #62
The QA application will be updated at end of business Tuesday 8/23. No retesting should be done prior to that.

[2016-08-23 17:29] vernonminer commented on #61
Added new span to partial view for status with class of "visible-print" to show Active or Inactive in status cell.

[2016-08-23 17:31] vernonminer commented on #59
Added new span to partial view with "visible-print" class to show Active or Inactive for status value when printing or exporting

[2016-08-23 17:32] vernonminer commented on #57
Added new span to partial view with "visible-print" class to show Active or Inactive for status value when printing or exporting

[2016-08-23 17:34] vernonminer commented on #58
Specific content for validation can be obtained by executing query in SQL Server Management Studio.

[2016-08-23 17:49] vernonminer commented on #56
There are too many product to display in the list when searching with no criteria. I added an error message display to the JavaScript file to require at least one criterion.

![image](https://cloud.githubusercontent.com/assets/15823308/17903118/edfdc3fc-692f-11e6-9fae-063d1a5c7dfe.png)

[2016-08-23 18:24] vernonminer commented on #54
Corrected Stored Procedure

[2016-08-23 18:30] vernonminer commented on #53
Corrected JavaScript file

[2016-08-23 19:27] vernonminer commented on #55
When using product text in product group search the results returned should be a list of product groups that have at least one associated product that contains the input product text.

[2016-08-23 20:02] vernonminer commented on #51
Price Multiplier is collected from web configuration file. There is a PriceMultiplierValue field in the records of the Product table.

The Product Code is only used in 240 products and none are active. Assume it is a relic from previous revision.

[2016-08-23 20:02] vernonminer commented on #50
User roles can now be changed.

[2016-08-23 20:03] vernonminer commented on #48
Resolved

[2016-08-23 20:05] vernonminer commented on #47
Approve or Reject comment should only be displayed for products that have an approved or rejected status.

[2016-08-23 20:11] vernonminer commented on #4
Corrected JavaScript Fle

[2016-08-23 20:14] vernonminer commented on #26
There are too many products to return to allow the user to search without at least one criterion. I added code to the JavaScript file to display an error and corrected the display of the results that was causing the undefined display.

[2016-08-23 20:19] vernonminer commented on #15
The bootstrap switch plug in allows for a limited switch width by default. It provides a method to increase the width, set  the width in pixels. This does not correct itself when the screen resolution changes, for instance in a high definition screen. The switch still performs as expected it just looks bad.

[2016-08-23 20:20] vernonminer commented on #46
Help blocks are optional for the display. If there is no content in the database it is not displayed. The documentation includes a discussion of the help block for completeness. Realistically, no help block should be expected until after the addition of the "Manage Content" option in the maintenance menu. That is where the administrators can provide content for the help blocks.

[2016-08-23 20:21] vernonminer commented on #44
Help blocks are optional for the display. If there is no content in the database it is not displayed. The documentation includes a discussion of the help block for completeness. Realistically, no help block should be expected until after the addition of the "Manage Content" option in the maintenance menu. That is where the administrators can provide content for the help blocks.

[2016-08-24 00:36] junpaolo commented on #49
Thank you for clarifying this sir. We will just consider this as out of scope

[2016-08-24 00:36] #49 closed, assigned to vernonminer

[2016-08-24 01:23] #44 closed, assigned to vernonminer

[2016-08-24 01:29] #42 closed, assigned to vernonminer

[2016-08-24 01:30] #41 closed, assigned to vernonminer

[2016-08-24 01:45] junpaolo commented on #48
Still experiencing the same issue

![change user s role error](https://cloud.githubusercontent.com/assets/20081753/17915740/8ae35c72-69df-11e6-83c8-eb888a606a5a.png)

[2016-08-24 09:17] junpaolo commented on #64
still having the same experience
![inactive public query visible in my private](https://cloud.githubusercontent.com/assets/20081753/17925205/91ec2c62-6a1e-11e6-9c91-aaa16c30fcdf.png)

[2016-08-24 09:28] junpaolo commented on #62
still having the same experience
![unable to delete inactive query](https://cloud.githubusercontent.com/assets/20081753/17925593/19683554-6a20-11e6-91ad-750bd81361a9.png)

[2016-08-24 09:33] junpaolo commented on #4
still having the same experience
![comparison report error in badge](https://cloud.githubusercontent.com/assets/20081753/17925766/da6b6640-6a20-11e6-9c8e-4986405b1f9a.png)

[2016-08-24 09:36] #28 closed, assigned to vernonminer

[2016-08-24 09:47] junpaolo commented on #32
This will be considered as OOS

[2016-08-24 09:47] #32 closed, assigned to vernonminer

[2016-08-24 09:50] junpaolo commented on #37
Considered as OOS

[2016-08-24 09:50] #37 closed, assigned to vernonminer

[2016-08-24 09:59] junpaolo commented on #29
Need to click the save button twice.

[2016-08-24 10:01] #27 closed, assigned to vernonminer

[2016-08-24 10:33] #46 closed, assigned to vernonminer

[2016-08-24 10:42] junpaolo commented on #36
Hi Vernon,

Can we delete a user with inactive status?

[2016-08-24 10:52] junpaolo commented on #35
still experiencing the same error
]
![edit user failed](https://cloud.githubusercontent.com/assets/20081753/17928150/ebb633de-6a2b-11e6-90d8-18f521883811.png)

[2016-08-24 11:10] junpaolo commented on #51
Hi Vernon,

Can you give us a Login Name for us to be able to create a new user?

[2016-08-24 11:30] junpaolo opened #67 "User - search and view clarification"
Hi Vernon,

The user if admin, can search and edit existing user. The view only option is not applicable. Please confirm

![view user](https://cloud.githubusercontent.com/assets/20081753/17929163/40e8b584-6a31-11e6-9d0c-45928dc11e79.png)

[2016-08-24 11:46] #51 closed, assigned to vernonminer

[2016-08-24 11:46] junpaolo commented on #51
Pls disregard this one

[2016-08-24 12:31] junpaolo commented on #29
I tried to replicate again the issue. This one is still open.

![unable to save updated query](https://cloud.githubusercontent.com/assets/20081753/17930611/c03359c2-6a39-11e6-9455-e9f249c19535.png)

[2016-08-24 13:30] vernonminer commented on #64
Retested prior to application update.

[2016-08-24 13:31] vernonminer commented on #62
Retested prior to application update.

[2016-08-24 13:33] vernonminer commented on #67
Any user cannot modify their own profile. Therefore, an administrator can only view their profile, this is view only mode.

[2016-08-24 17:16] vernonminer commented on #40
Corrected

[2016-08-24 17:17] vernonminer commented on #39
Updated Documentation. Users who can modify existing products can make changes to these fields.

[2016-08-24 17:21] vernonminer commented on #48
Retest was done prior to application update.

[2016-08-24 17:22] vernonminer commented on #35
Retest was done prior to application update.

[2016-08-24 17:29] vernonminer commented on #21
Corrected JavaScript file

[2016-08-24 17:30] vernonminer commented on #4
Retest was done prior to application update

[2016-08-24 20:32] vernonminer commented on #5
Updated Stored Procs in PMReport DB and update DBContext in application

[2016-08-24 20:33] vernonminer commented on #25
Updated Stored Procs in PMReport DB and update DBContext in application

[2016-08-24 20:33] vernonminer commented on #24
Updated Stored Procs in PMReport DB and update DBContext in application

[2016-08-24 20:34] vernonminer commented on #23
Updated Stored Procs in PMReport DB and update DBContext in application

[2016-08-24 20:34] vernonminer commented on #22
Updated Stored Procs in PMReport DB and update DBContext in application

[2016-08-24 20:35] vernonminer commented on #20
Updated Stored Procs in PMReport DB and update DBContext in application

[2016-08-24 20:35] vernonminer commented on #19
Updated Stored Procs in PMReport DB and update DBContext in application

[2016-08-24 20:36] vernonminer commented on #18
Updated Stored Procs in PMReport DB and update DBContext in application

[2016-08-24 20:36] vernonminer commented on #8
Updated Stored Procs in PMReport DB and update DBContext in application

[2016-08-24 20:37] vernonminer commented on #6
Updated Stored Procs in PMReport DB and update DBContext in application

[2016-08-24 20:37] vernonminer commented on #7
Updated Stored Procs in PMReport DB and update DBContext in application

[2016-08-26 01:09] junpaolo commented on #20
Still experiencing the same issue

![clear button search pricelist error](https://cloud.githubusercontent.com/assets/20081753/17990914/bd7d13e2-6b6c-11e6-9e09-f864bfca574d.png)

[2016-08-26 01:14] junpaolo commented on #64
fixed

![public query display](https://cloud.githubusercontent.com/assets/20081753/17991004/7b9d7164-6b6d-11e6-8a4a-19cc0469f9de.png)

[2016-08-26 01:14] #64 closed, assigned to vernonminer

[2016-08-26 01:46] junpaolo opened #68 "QUERY - Delete an ACTIVE query"
Scenario:
User will delete a query with an active status
![delete active query 1](https://cloud.githubusercontent.com/assets/20081753/17991478/8e073f3e-6b71-11e6-8a83-337c75ae33f2.png)

Observed Result:
After clicking the delete button, system displayed an error page
![delete active query 2 after clicking the delete button](https://cloud.githubusercontent.com/assets/20081753/17991463/79ad9628-6b71

[2016-08-26 01:54] junpaolo commented on #62
fixed

![delete inactive query1](https://cloud.githubusercontent.com/assets/20081753/17991640/071bc2f4-6b73-11e6-84e2-17be60d515f8.png)

![delete inactive query2](https://cloud.githubusercontent.com/assets/20081753/17991643/0deba748-6b73-11e6-9a33-da99e9cd2af9.png)

[2016-08-26 01:54] #62 closed, assigned to vernonminer

[2016-08-26 02:00] junpaolo commented on #30
Public queries are available for all users. User can update the query if the user has the privilege

[2016-08-26 02:00] #30 closed, assigned to vernonminer

[2016-08-26 02:13] junpaolo opened #69 "HOME - Ajax error displayed when searching"
Scenario:
User will search in home page

Observed result:
Ajax error displayed

Expected Result:
Search successful

![ajax error when searching in home](https://cloud.githubusercontent.com/assets/20081753/17991955/c0d2595e-6b75-11e6-9907-9b4c88a97252.png)

[2016-08-26 02:51] junpaolo commented on #31
I edit my private query and make sure all fields have values. I also switched all status to **NO**. Some fields does not save the changes I made.

Sub Price List
![sub pricelist not saving changes](https://cloud.githubusercontent.com/assets/20081753/17992522/b58bccc4-6b7a-11e6-8923-449cb9492536.png)

Commercial Brand
![commercial brand not saving changes](https://cloud.githubusercontent.com/assets

[2016-08-26 04:26] junpaolo opened #70 "Query - Saving changes PUBLIC query"
Scenario:
I edit the public query. I make sure that all fields have values. I also switched all status to NO.

Observed Result:
Some fields does not save the changes I made

Sub pricelist
![public subprice list](https://cloud.githubusercontent.com/assets/20081753/17994175/0b181ea0-6b89-11e6-956e-d8271a231c1f.png)

Commercial brand has the loading icon visible
![commercial brand](https://cloud.gith

[2016-08-26 04:43] junpaolo commented on #48
fixed
![change user role1](https://cloud.githubusercontent.com/assets/20081753/17994389/abd3c42e-6b8a-11e6-93db-02e78f660d07.png)

![change user role2](https://cloud.githubusercontent.com/assets/20081753/17994392/b0eeae56-6b8a-11e6-9c98-cbaf611789ba.png)

[2016-08-26 04:43] #48 closed, assigned to vernonminer

[2016-08-26 04:48] junpaolo commented on #35
fixed

![edit user details1](https://cloud.githubusercontent.com/assets/20081753/17994435/4c5a9648-6b8b-11e6-9c37-0aae43190114.png)

![edit user details2](https://cloud.githubusercontent.com/assets/20081753/17994439/51b807e2-6b8b-11e6-8bf2-662058c6ec06.png)

[2016-08-26 04:48] #35 closed, assigned to vernonminer

[2016-08-26 05:03] junpaolo commented on #36
fixed

![delete user while active3 successful delete](https://cloud.githubusercontent.com/assets/20081753/17994682/7ad5bc12-6b8d-11e6-8020-f26ec201180d.png)

![delete user while active4 successful delete](https://cloud.githubusercontent.com/assets/20081753/17994688/853c2a42-6b8d-11e6-8610-7bba9bd6e66b.png)

[2016-08-26 05:03] #36 closed, assigned to vernonminer

[2016-08-26 05:12] junpaolo commented on #67
Print/Export button should not be visible. Please confirm

[2016-08-26 05:51] junpaolo commented on #61
fixed
![manage product groups print button](https://cloud.githubusercontent.com/assets/20081753/17995376/ba93c528-6b93-11e6-9f70-18a07ba3df1f.png)

[2016-08-26 05:51] #61 closed, assigned to vernonminer

[2016-08-26 05:53] junpaolo commented on #59
fixed

![manage product groups copy button](https://cloud.githubusercontent.com/assets/20081753/17995444/67375042-6b94-11e6-97f9-8de4247a42dd.png)

[2016-08-26 05:53] #59 closed, assigned to vernonminer

[2016-08-26 06:58] junpaolo commented on #57
fixed
![manage product groups excel button](https://cloud.githubusercontent.com/assets/20081753/17996778/84136530-6b9d-11e6-8094-50f9f9eab260.png)

[2016-08-26 06:58] #57 closed, assigned to vernonminer

[2016-08-26 07:59] junpaolo commented on #56
Still experiencing the same issue
![manage product groups search all null](https://cloud.githubusercontent.com/assets/20081753/17998274/143cb064-6ba6-11e6-8ef1-38c801e4b2bd.png)

[2016-08-26 08:27] junpaolo opened #71 "Clear button clarification"
Hi Vernon,

Just want to clarify if the clear button should clear all search criterion and the search result. Also does this one apply to all modules. thanks

[2016-08-26 08:40] junpaolo commented on #54
fixed
![managa product subproduct group text search](https://cloud.githubusercontent.com/assets/20081753/17999409/c3ff0e2a-6bab-11e6-8f43-77ddb4eca7e9.png)

[2016-08-26 08:40] #54 closed, assigned to vernonminer

[2016-08-28 16:14] vernonminer commented on #71
yes sir it should

[2016-08-29 16:11] vernonminer commented on #67
Correct

[2016-08-29 17:40] vernonminer commented on #70
Corrected JavaScript file

[2016-08-29 18:36] vernonminer commented on #69
I corrected the JavaScript file again. Please make sure you force the application to download new JavaScript files on each page when you retest. Pressing the F5 key to force a page refresh should do it.

[2016-08-29 20:52] vernonminer commented on #68
User is NOT redirected when deleting an Active query. The query is deactivated and this is displayed.

![image](https://cloud.githubusercontent.com/assets/15823308/18067014/8c3e170e-6e00-11e6-9ae3-e2c55e1aea37.png)

[2016-08-29 20:55] vernonminer commented on #56
Please make sure to force the browser to download new JavaScript files for the page prior to retesting. Pressing F5 key should do it.

[2016-08-30 00:15] #67 closed, assigned to vernonminer

[2016-08-30 00:33] junpaolo opened #72 "USER - Clear button"
**Scenario:**
User will click the clear button after searching a specific user

**Observed Result:**
Clears only the search text boxes
![user menu clear button error](https://cloud.githubusercontent.com/assets/20081753/18071943/429dbe56-6e8c-11e6-8006-78457bee0591.png)

**Expected** Result:
Clicking the clear button will clear all text boxes and search results

[2016-08-30 06:16] junpaolo commented on #29
Hello sir. i observed the behavior when changing the active status. It appears that we experience this behavior when we try to edit a newly created query. Hope this helps. Thanks.

[2016-08-30 06:33] junpaolo commented on #21
fixed
![Uploading ranking report main page ok.png…]()

[2016-08-30 06:33] #21 closed, assigned to vernonminer

[2016-08-30 06:34] junpaolo commented on #4
fixed
![Uploading Comparison report main page ok.png…]()

[2016-08-30 06:34] #4 closed, assigned to vernonminer

[2016-08-30 06:55] junpaolo commented on #68
fixed

![delete active query1](https://cloud.githubusercontent.com/assets/20081753/18079050/5b4e80d6-6ec1-11e6-84b7-8fd86f88a36a.png)

![delete active query2](https://cloud.githubusercontent.com/assets/20081753/18079056/627432e8-6ec1-11e6-8b77-30b00890bcae.png)

[2016-08-30 06:55] #68 closed, assigned to vernonminer

[2016-08-30 07:01] junpaolo commented on #70
fixed
![saving changes query public](https://cloud.githubusercontent.com/assets/20081753/18079332/a413994a-6ec2-11e6-8bf4-f3c14bffd5a4.png)

[2016-08-30 07:01] #70 closed, assigned to vernonminer

[2016-08-30 07:06] junpaolo commented on #31
fixed
![saving changes query private](https://cloud.githubusercontent.com/assets/20081753/18079437/4641f87e-6ec3-11e6-89f4-4ae55e06078d.png)

[2016-08-30 07:06] #31 closed, assigned to vernonminer

[2016-08-30 07:13] junpaolo commented on #69
fixed
![home search from loaded query](https://cloud.githubusercontent.com/assets/20081753/18079623/4d21ce34-6ec4-11e6-945e-165d289d58ee.png)

[2016-08-30 07:13] #69 closed, assigned to vernonminer

[2016-08-30 07:17] #71 closed, assigned to vernonminer

[2016-08-30 07:33] junpaolo commented on #5
fixed
![edit max discount](https://cloud.githubusercontent.com/assets/20081753/18080207/15141580-6ec7-11e6-8a63-5bfb8f98bde2.png)

![edit max discount2](https://cloud.githubusercontent.com/assets/20081753/18080212/1ef7cfd8-6ec7-11e6-9617-3b8393f23ff9.png)

[2016-08-30 07:33] #5 closed, assigned to vernonminer

[2016-08-30 19:21] vernonminer commented on #72
Corrected JavaScript file.

[2016-08-30 19:59] vernonminer commented on #20
Updated JavaScript file

[2016-08-30 20:11] vernonminer commented on #17
This search returns price lists. When searching by product text the list displayed should be a those price lists that contain products that have the specified text in the product text field.

[2016-08-30 20:16] vernonminer commented on #16
This search is for price lists. When searching by price list group the results should be a list of price lists that are members of price list groups that contain the specified text as part of the name.

[2016-08-31 00:54] junpaolo commented on #25
fixed

![create pricelist group](https://cloud.githubusercontent.com/assets/20081753/18112214/83984d5a-6f58-11e6-81ff-5e5a7b8d6c0a.png)

[2016-08-31 00:54] #25 closed, assigned to vernonminer

[2016-08-31 01:18] junpaolo commented on #20
Still experiencing the same issue for both active and inactive
![search pricelist active error](https://cloud.githubusercontent.com/assets/20081753/18112658/d07a5ef8-6f5b-11e6-8e12-398f9fcfbb45.png)

![search pricelist inactive error](https://cloud.githubusercontent.com/assets/20081753/18112665/d87465ea-6f5b-11e6-93b7-46fead21f68b.png)

[2016-08-31 01:20] junpaolo commented on #24
fixed
![create pricelist group without pricelists](https://cloud.githubusercontent.com/assets/20081753/18112688/1bb3a6ea-6f5c-11e6-8b86-3c5f12c5328e.png)

[2016-08-31 01:20] #24 closed, assigned to vernonminer

[2016-08-31 01:26] junpaolo commented on #23
still experiencing the same issue when searching with active status
![manage pricelist unable to edit active](https://cloud.githubusercontent.com/assets/20081753/18112840/79c3f612-6f5d-11e6-946c-57e0386af8f9.png)

[2016-08-31 01:33] junpaolo commented on #22
Still experiencing the same issue when searching with inactive status
![manage pricelist unable to edit](https://cloud.githubusercontent.com/assets/20081753/18112880/e8fd7d28-6f5d-11e6-83b0-6e1a799c4b98.png)

[2016-08-31 02:04] junpaolo commented on #19
Unable to validate. System keeps on loading for a long period of time
![manage pricelist search keeps on loading inactive with max discount](https://cloud.githubusercontent.com/assets/20081753/18114094/05bb78ee-6f67-11e6-8476-8acf276205eb.png)

[2016-08-31 02:16] junpaolo commented on #18
Unable to validate. Keeps on loading for a long period of time
![manage pricelist search keeps on loading inactive with max discount percent is](https://cloud.githubusercontent.com/assets/20081753/18114142/79992a90-6f67-11e6-9b1e-ea2cf64f42db.png)

[2016-08-31 02:32] junpaolo commented on #17
Unable to validate. keeps on loading for a long period of time
![manage pricelist search keeps on loading for product text](https://cloud.githubusercontent.com/assets/20081753/18113972/25336494-6f66-11e6-8107-f3f72329655e.png)

[2016-08-31 02:43] junpaolo commented on #16
Unable to validate. Keeps on loading for a long period of time
![manage pricelist search keeps on loading inactive](https://cloud.githubusercontent.com/assets/20081753/18114183/ce1e63a0-6f67-11e6-8f6d-108fcd272d96.png)

[2016-08-31 02:46] #15 closed, assigned to vernonminer

[2016-08-31 02:54] junpaolo commented on #8
fixed
![loading while renaming pricelist successful](https://cloud.githubusercontent.com/assets/20081753/18114368/2be5c7f2-6f69-11e6-913f-b2df8e14fd62.png)

![loading while renaming pricelist successful2](https://cloud.githubusercontent.com/assets/20081753/18114373/36881f48-6f69-11e6-8b6b-6de176af1c69.png)

[2016-08-31 02:54] #8 closed, assigned to vernonminer

[2016-08-31 03:00] junpaolo commented on #7
Still experiencing the same issue
![deactivate pricelist error](https://cloud.githubusercontent.com/assets/20081753/18114488/05f54b98-6f6a-11e6-8264-bb8e1a11a82d.png)

[2016-08-31 03:02] junpaolo commented on #6
Still experiencing the same issue
![activate pricelist error](https://cloud.githubusercontent.com/assets/20081753/18114542/6669b298-6f6a-11e6-9722-60e6da4c1ce9.png)

[2016-08-31 03:12] #33 closed, assigned to vernonminer

[2016-08-31 03:13] #34 closed, assigned to vernonminer

[2016-08-31 03:14] #58 closed, assigned to vernonminer

[2016-08-31 03:16] #55 closed, assigned to vernonminer

[2016-08-31 05:23] junpaolo commented on #26
fixed
![Uploading no undefined in manage products.png…]()

[2016-08-31 05:23] #26 closed, assigned to vernonminer

[2016-08-31 05:27] junpaolo commented on #56
fixed
![manage products require 1 mandatory field](https://cloud.githubusercontent.com/assets/20081753/18117022/aa16f7a8-6f7e-11e6-86e7-4c4da29bb958.png)

[2016-08-31 05:27] #56 closed, assigned to vernonminer

[2016-08-31 05:31] junpaolo commented on #72
Still experiencing the same issue
![user clear button error](https://cloud.githubusercontent.com/assets/20081753/18117130/42376234-6f7f-11e6-9fd0-34880f409424.png)

[2016-08-31 06:05] junpaolo commented on #50
Hi Vernon,

Can you assist us on how to execute this one. I changed the user role to approver and I turned off the modify products privilege. It displays this message after I try to access the Manage Products:

![manage product view only mode2](https://cloud.githubusercontent.com/assets/20081753/18117869/fe10825c-6f83-11e6-9523-4489d9f178a5.png)

![manage product view only mode1](https://cloud.git

[2016-08-31 06:50] junpaolo commented on #53
fixed
![no undefined in manage product group search](https://cloud.githubusercontent.com/assets/20081753/18118888/3615a0c8-6f8a-11e6-92c1-23224f91f45a.png)

[2016-08-31 06:50] #53 closed, assigned to vernonminer

[2016-08-31 07:04] junpaolo commented on #52
Still experiencing the same error. Error message has changed

![edit product details failed](https://cloud.githubusercontent.com/assets/20081753/18119233/3eff6da2-6f8c-11e6-9a67-2f95eb0c7dcb.png)

[2016-08-31 07:17] junpaolo commented on #43
fixed
![edit product details_remove from product group1](https://cloud.githubusercontent.com/assets/20081753/18119594/0175cb6e-6f8e-11e6-8c59-fb20ecc4c19e.png)

![edit product details_remove from product group4](https://cloud.githubusercontent.com/assets/20081753/18119607/0a1990f2-6f8e-11e6-8654-7a1c553c871d.png)

[2016-08-31 07:17] #43 closed, assigned to vernonminer

[2016-08-31 07:32] junpaolo commented on #40
Hi Vernon,

Can you assist me on how to execute this. I tried the same approach you told us in https://github.com/junpaolo/ePrice-validation-testing/issues/63 . Thanks

![how to execute remove product group](https://cloud.githubusercontent.com/assets/20081753/18119955/c0edbcbc-6f8f-11e6-94bf-ec50c0f5829c.png)

[2016-08-31 07:35] #39 closed, assigned to vernonminer

[2016-08-31 07:54] junpaolo commented on #47
Since there's no available products that have an approved or rejected status, we will consider this as OOS

[2016-08-31 07:54] #47 closed, assigned to vernonminer

[2016-08-31 07:56] #45 closed, assigned to vernonminer

[2016-08-31 08:58] junpaolo opened #73 "Manage Pricelist Groups - Unable to search Pricelist Group"
Scenario:
User will search for pricelist group

Observed Result:
Unable to search

Expected Result:
User can successfully search  a pricelist group

![search pricelist group failed](https://cloud.githubusercontent.com/assets/20081753/18122436/1d6636a2-6f9c-11e6-855e-58dce2c0be54.png)

[2016-08-31 09:37] junpaolo opened #74 "Create Price Lists Group - Duplicating"
Scenario:
User will create a price list group

Observed Result:
Created price list group is duplicating when clicking the save button multiple times

Expected Result:
Will not duplicate the created price list group when clicking the save button multiple times

![duplicating created pricelist group](https://cloud.githubusercontent.com/assets/20081753/18123699/a0cf9704-6fa1-11e6-8e28-ba65c7d6b6c9.pn

[2016-08-31 10:37] junpaolo opened #75 "Manage Pricelist Groups - Unable to update price list group"
Scenario:
User will update a price list group

Observed Result:
Update unsuccessful

Expected Result:
Update successful

![update unsuccessful1](https://cloud.githubusercontent.com/assets/20081753/18125633/e97eeff6-6fa9-11e6-9c54-812d49e3e2bf.png)

![update unsuccessful2](https://cloud.githubusercontent.com/assets/20081753/18125639/f07ae9b8-6fa9-11e6-90ba-cca98b999321.png)

[2016-08-31 17:20] vernonminer commented on #75
Displayed list of available price lists was displaying all price lists and it should have been only active price lists. Selections that were made to add to price list group were all inactive price lists. The selected price list was correctly displaying only active price lists. Therefore, it appeared the update was not occurring as reported back to the user.

Corrected code to display only active p

[2016-08-31 17:43] vernonminer commented on #74
Cannot reproduce.
1. Selected create new price list group from menu
2. Input name of price list group that already exists and correctly received this displayed error

![image](https://cloud.githubusercontent.com/assets/15823308/18139632/eadcc544-6f77-11e6-839a-de64f2053f2f.png)
1. Input new price list group name
2. Added comment
3. Clicked Save button and results were

![image](https://cloud.githu

[2016-08-31 18:13] vernonminer commented on #73
Controller code correction.

[2016-08-31 19:44] vernonminer commented on #23
Updated JavaScript file

[2016-08-31 21:14] vernonminer commented on #29
Be sure to check in the Query Criteria panel for errors. If there are any errors the button appears to do nothing.

[2016-08-31 21:25] vernonminer commented on #22
Because editing the details of a price list is not an available feature presently, I removed the action buttons from view.

[2016-08-31 23:48] vernonminer commented on #19
Corrected Code in controller.

[2016-09-01 01:19] coleenmarie opened #76 "PRODUCTS & GROUPS - Manage Product Groups > Clear Search result"
Scenario:
Clear search result by clicking clear button after search returned result.

Observed Result:
Was able to return results but upon clicking clear button  "undefined" text appeared on top of the Copy Excel Print buttons

Expected Results:
Should able to clear all parameters without error

![image](https://cloud.githubusercontent.com/assets/20077923/18151754/1b0a0ab8-7024-11e6-8432-f60b9102f

[2016-09-01 06:38] junpaolo commented on #75
fixed
![update pricelist group1](https://cloud.githubusercontent.com/assets/20081753/18157729/b9c819ce-7051-11e6-95e9-a00542bf286c.png)

![update pricelist group2](https://cloud.githubusercontent.com/assets/20081753/18157734/c1b52bea-7051-11e6-98ea-213de0c4192c.png)

[2016-09-01 06:38] #75 closed, assigned to vernonminer

[2016-09-01 06:43] junpaolo commented on #74
fixed

![create pricelist group duplicating fixed](https://cloud.githubusercontent.com/assets/20081753/18157862/6b747438-7052-11e6-9a31-0c334cd399b5.png)

[2016-09-01 06:43] #74 closed, assigned to vernonminer

[2016-09-01 08:30] junpaolo commented on #73
fixed

![search pricelist group](https://cloud.githubusercontent.com/assets/20081753/18160753/68e2b734-7061-11e6-836c-9ea47101757d.png)

[2016-09-01 08:30] #73 closed, assigned to vernonminer

[2016-09-01 08:58] junpaolo opened #77 "Manage Pricelist Groups - Unable to search Pricelist Group using "Included Price Lists" only"
**Scenario:**
User will search using Included Price Lists only

**Observed Result:**
Search unsuccessful

**Expected Result:**
User is able to search using Included Price Lists only

![unable to search using included price lists only](https://cloud.githubusercontent.com/assets/20081753/18161585/20c95850-7065-11e6-9f05-783a5ea50230.png)

[2016-09-01 09:08] junpaolo opened #78 "Manage Pricelist Groups - Search Pricelist Groups - Clear button"
Scenario:
User will click the clear button after searching a pricelist group

Observed Result:
Pop up message displays

Expected Result:
Clicking the clear button will clear all search criterion and search results

![message displayed when clicking the cancel button_manage pricelist group search](https://cloud.githubusercontent.com/assets/20081753/18161971/c3194542-7066-11e6-8393-a2eef9156179.png)

[2016-09-01 09:35] junpaolo opened #79 "Manage Pricelist Groups - Search Pricelist Groups - Edit Pricelist Group details"
**Scenario:**
User will search a pricelist group and edit its details

**Observed Result:**
Edit details unsuccessful. An error message was displayed

**Expected Result:**
User is able to edit the pricelist group details

![edit pricelist group details error](https://cloud.githubusercontent.com/assets/20081753/18162796/7ad27c78-706a-11e6-9691-ad09ba31bd49.png)

[2016-09-01 09:54] junpaolo commented on #72
fixed

![user_clear button1](https://cloud.githubusercontent.com/assets/20081753/18163352/1787b68a-706d-11e6-87df-fafe0340f57e.png)

![user_clear button2](https://cloud.githubusercontent.com/assets/20081753/18163357/1ea8b7fc-706d-11e6-84aa-d1ac804adf16.png)

[2016-09-01 09:54] #72 closed, assigned to vernonminer

[2016-09-01 10:08] junpaolo commented on #29
System is forcing me to input a sub pricelist to make my query valid. In homepage, sub pricelist is not marked as mandatory field. Please confirm if it is ok that each time we save a query, we need to include a sub pricelist even though it is not a mandatory field.

![edit query details forcing to input a sub pricelist](https://cloud.githubusercontent.com/assets/20081753/18163747/1aa2a0da-706f-11e

[2016-09-01 10:17] junpaolo commented on #23
Action buttons N/A

![search and edit price lists_action button missing](https://cloud.githubusercontent.com/assets/20081753/18164002/4b426a3a-7070-11e6-9e84-0a34fb01af55.png)

[2016-09-01 10:20] junpaolo commented on #23
considered as OOS. see https://github.com/junpaolo/ePrice-validation-testing/issues/22

[2016-09-01 10:20] #23 closed, assigned to vernonminer

[2016-09-01 10:21] junpaolo commented on #22
considered as OOS

[2016-09-01 10:21] #22 closed, assigned to vernonminer

[2016-09-01 18:28] vernonminer commented on #79
updated controller method and database stored procedures

[2016-09-01 18:42] vernonminer commented on #78
Updated JavaScript file

[2016-09-01 18:43] vernonminer commented on #77
Updated Controller code

[2016-09-01 20:05] vernonminer commented on #18
Updated JavaScript. When searching by max discount a percent value is required.
Updated Controller code.

[2016-09-01 20:09] vernonminer commented on #20
Please make sure to force the browser to download a new JavaScript file for this page.

[2016-09-01 20:11] vernonminer commented on #17
The results is a list of price lists that contain products that have the input text as part of the product text field.

[2016-09-01 20:14] vernonminer commented on #16
The results is a list of price lists that are associated with the price list groups that have the input text in the price list group text field.

[2016-09-01 21:30] vernonminer commented on #7
Updated Controller code

[2016-09-01 21:31] vernonminer commented on #6
Updated Controller code

[2016-09-01 22:39] vernonminer commented on #76
JavaScript file correction

[2016-09-02 00:05] junpaolo commented on #79
fixed

![edit pricelist group details1](https://cloud.githubusercontent.com/assets/20081753/18188332/f40db9e4-70e3-11e6-8055-e9feb08db2f7.png)

![edit pricelist group details2](https://cloud.githubusercontent.com/assets/20081753/18188338/ff190366-70e3-11e6-88d5-c3a2700e1c70.png)

[2016-09-02 00:05] #79 closed, assigned to vernonminer

[2016-09-02 00:11] junpaolo commented on #78
fixed
![search pricelist group and clear button1](https://cloud.githubusercontent.com/assets/20081753/18188437/c5b0135c-70e4-11e6-8a4f-754b90bcd6ed.png)

![search pricelist group and clear button2](https://cloud.githubusercontent.com/assets/20081753/18188441/cf8a81f0-70e4-11e6-900c-c6ac5b863c02.png)

[2016-09-02 00:11] #78 closed, assigned to vernonminer

[2016-09-02 00:24] junpaolo commented on #77
fixed

![search pricelist group using included pricelists only](https://cloud.githubusercontent.com/assets/20081753/18188699/b7c9cefc-70e6-11e6-8884-afaec5358688.png)

[2016-09-02 00:24] #77 closed, assigned to vernonminer

[2016-09-02 00:32] junpaolo commented on #20
fixed

![manage pricelist_search_clearbutton1](https://cloud.githubusercontent.com/assets/20081753/18188813/baceef1e-70e7-11e6-8aa4-70b6fbcb5725.png)

![manage pricelist_search_clearbutton2](https://cloud.githubusercontent.com/assets/20081753/18188821/cb1537c0-70e7-11e6-9c54-4f09ac9b5d4b.png)

[2016-09-02 00:32] #20 closed, assigned to vernonminer

[2016-09-02 00:43] junpaolo commented on #19
fixed
![search pricelist with max discount_inactive](https://cloud.githubusercontent.com/assets/20081753/18189000/57db0e22-70e9-11e6-8cdd-811072a925b7.png)

[2016-09-02 00:43] #19 closed, assigned to vernonminer

[2016-09-02 00:48] junpaolo commented on #18
Fixed.
![search pricelist with max discount_active](https://cloud.githubusercontent.com/assets/20081753/18189080/ff125308-70e9-11e6-8bb4-7506423d58d0.png)

[2016-09-02 00:48] #18 closed, assigned to vernonminer

[2016-09-02 02:49] junpaolo commented on #10
Considered as OOS. See https://github.com/junpaolo/ePrice-validation-testing/issues/22

[2016-09-02 02:49] #10 closed, assigned to vernonminer

[2016-09-02 02:51] junpaolo commented on #9
see https://github.com/junpaolo/ePrice-validation-testing/issues/20

[2016-09-02 02:51] #9 closed, assigned to vernonminer

[2016-09-02 02:54] junpaolo commented on #14
see https://github.com/junpaolo/ePrice-validation-testing/issues/16 and https://github.com/junpaolo/ePrice-validation-testing/issues/17

[2016-09-02 02:54] #14 closed, assigned to vernonminer

[2016-09-02 02:54] junpaolo commented on #13
see https://github.com/junpaolo/ePrice-validation-testing/issues/16 and https://github.com/junpaolo/ePrice-validation-testing/issues/17

[2016-09-02 02:54] #13 closed, assigned to vernonminer

[2016-09-02 02:54] junpaolo commented on #12
see https://github.com/junpaolo/ePrice-validation-testing/issues/16 and https://github.com/junpaolo/ePrice-validation-testing/issues/17

[2016-09-02 02:54] #12 closed, assigned to vernonminer

[2016-09-02 02:54] junpaolo commented on #11
see https://github.com/junpaolo/ePrice-validation-testing/issues/16 and https://github.com/junpaolo/ePrice-validation-testing/issues/17

[2016-09-02 02:54] #11 closed, assigned to vernonminer

[2016-09-02 09:33] junpaolo opened #80 "Products and Groups - Manage Products error"
Scenario:
User will access Manage Products

Observed Results:
Unable to access. Error message was displayed

Expected Result:
User can access Manage Products

![manage product not available](https://cloud.githubusercontent.com/assets/20081753/18199538/4c8c79a8-7133-11e6-9984-223ccdb7ad49.png)

[2016-09-02 09:37] junpaolo opened #81 "Manage Pricelist - Search Pricelist"
**Scenario:**
User will search for a Price list

**Observed Result:**
Retrieving XXX data rows. Please wait... is still visible after successfully loading all data

**Expected Result:**
Notification message should not be visible after successful loading of all data

![search pricelist please wait message still visible after successful loading](https://cloud.githubusercontent.com/assets/20081753/18

[2016-09-02 09:54] junpaolo commented on #76
fixed
![clear button search product group](https://cloud.githubusercontent.com/assets/20081753/18200198/4300a8c0-7136-11e6-8245-c99caf0d8800.png)

[2016-09-02 09:54] #76 closed, assigned to vernonminer

[2016-09-02 14:49] vernonminer commented on #81
I wouldn't classify this as a bug. I updated the JavaScript file.

[2016-09-02 15:52] vernonminer commented on #80
For an unknown reason entity framework changed the return from a stored procedure to not match the real return structure. I updated the DBContext again to correct it.

[2016-09-02 16:18] vernonminer commented on #29
Sub price list is NOT required. The error states the input value was not found. I made a correction in controller code that will no longer display an error for this when none is selected.

[2016-09-02 16:19] vernonminer commented on #17
Corrected Controller code.

[2016-09-02 16:20] vernonminer commented on #16
Made controller code correction.

[2016-09-02 16:31] vernonminer commented on #50
The manage products menu option displays to anyone that has either of these privileges.

Modify Products
Delete Products.

Normally a user would not be able to delete products and not modify them. Both approver and administrator roles can have these privileges.

The modify products view was restricted to only those users that have modify products privilege. Now it will also display to users with d

[2016-09-02 16:53] vernonminer commented on #40
Updated documentation to match application

[2016-09-05 00:34] junpaolo commented on #50
will consider this as out of scope

[2016-09-05 00:34] #50 closed, assigned to vernonminer

[2016-09-05 00:41] junpaolo commented on #40
Unable to proceed. An error message was displayed after clicking the action button

![unable to remove product from product group1](https://cloud.githubusercontent.com/assets/20081753/18234894/8cdf7902-7344-11e6-9d89-72d6e415eab7.png)

![unable to remove product from product group](https://cloud.githubusercontent.com/assets/20081753/18234897/94cee1a2-7344-11e6-9805-1c25913625a0.png)

[2016-09-05 00:48] junpaolo commented on #29
Still experiencing the same issue
![unable to save query detail changes](https://cloud.githubusercontent.com/assets/20081753/18234939/86d23ab2-7345-11e6-9229-e7b00962245c.png)

[2016-09-05 00:56] junpaolo commented on #17
fixed
![search price list](https://cloud.githubusercontent.com/assets/20081753/18234982/6da1fce8-7346-11e6-9289-0e0ad4364f2e.png)

[2016-09-05 00:56] #17 closed, assigned to vernonminer

[2016-09-05 01:06] junpaolo commented on #16
![search price list using product text_inactive](https://cloud.githubusercontent.com/assets/20081753/18235058/110b1062-7348-11e6-99a3-7cc1e37fb62f.png)

[2016-09-05 01:06] #16 closed, assigned to vernonminer

[2016-09-05 01:14] junpaolo commented on #6
fixed

![activate price list successful1](https://cloud.githubusercontent.com/assets/20081753/18235101/19050a92-7349-11e6-9d2c-50045aad573b.png)

![activate price list successful2](https://cloud.githubusercontent.com/assets/20081753/18235108/33af1ae0-7349-11e6-8c7f-8f5bd61d36d0.png)

[2016-09-05 01:14] #6 closed, assigned to vernonminer

[2016-09-05 01:22] junpaolo commented on #7
fixed
![deactivate pricelist1](https://cloud.githubusercontent.com/assets/20081753/18235180/33e6bf8a-734a-11e6-971b-26ae42a1372b.png)

![deactivate pricelist2](https://cloud.githubusercontent.com/assets/20081753/18235181/3b5f3756-734a-11e6-84d6-f929cba0a8dc.png)

![deactivate pricelist3](https://cloud.githubusercontent.com/assets/20081753/18235183/4175c560-734a-11e6-8cb5-1e5149938dc0.png)

[2016-09-05 01:22] #7 closed, assigned to vernonminer

[2016-09-05 01:37] junpaolo commented on #80
Still experiencing the same issue

![unable to access manage product group](https://cloud.githubusercontent.com/assets/20081753/18235331/4d74b5a4-734c-11e6-86a8-c36abeed2db1.png)

[2016-09-05 01:39] junpaolo commented on #81
Experience is still the same
![please wait visible after searching a price lsit](https://cloud.githubusercontent.com/assets/20081753/18235356/aff56e30-734c-11e6-86a8-8b884144dce3.png)

[2016-09-06 17:35] vernonminer commented on #81
Updated JavaScript file again.

[2016-09-06 17:39] vernonminer commented on #80
It appears my last corrections did not get published. I published again.

[2016-09-06 17:40] vernonminer commented on #29
It appears my last corrections did not get published. I published again.

[2016-09-07 00:11] vernonminer commented on #52
Still working on this one.

[2016-09-07 00:12] vernonminer commented on #40
Still working on this one.

[2016-09-07 00:20] junpaolo commented on #81
fixed

![search price list without please wait message](https://cloud.githubusercontent.com/assets/20081753/18295432/f64edf82-74d3-11e6-82ab-e888afeec99b.png)

[2016-09-07 00:20] #81 closed, assigned to vernonminer

[2016-09-07 00:31] junpaolo commented on #80
fixed

![products and groups menu working](https://cloud.githubusercontent.com/assets/20081753/18295575/1ec499e2-74d5-11e6-9337-7874675cf593.png)

![products and groups menu working2](https://cloud.githubusercontent.com/assets/20081753/18295596/4c1ac02e-74d5-11e6-9020-a9111bebe7a2.png)

![products and groups menu working3](https://cloud.githubusercontent.com/assets/20081753/18295613/70157c26-74d5-

[2016-09-07 00:31] #80 closed, assigned to vernonminer

[2016-09-07 00:39] junpaolo commented on #29
fixed

![query not forcing the sub pricelist](https://cloud.githubusercontent.com/assets/20081753/18295739/9c06381a-74d6-11e6-8e2e-ef4ff3233292.png)

[2016-09-07 00:39] #29 closed, assigned to vernonminer

[2016-09-08 14:18] vernonminer commented on #40
Corrected Controller Code.

[2016-09-08 14:18] vernonminer commented on #52
Corrected Controller Code.

[2016-09-13 06:57] junpaolo commented on #40
fixed
![able to access edit product details page](https://cloud.githubusercontent.com/assets/20081753/18464249/6b38b140-79c2-11e6-9e6d-ed5d0306a5b9.png)

[2016-09-13 06:57] #40 closed, assigned to vernonminer, coleenmarie

[2016-09-13 07:04] junpaolo commented on #52
Unable to update product details. Error message displayed

![edit product details failed](https://cloud.githubusercontent.com/assets/20081753/18464369/3da24164-79c3-11e6-8f86-c2ec2c1a8b7b.png)

[2016-09-13 19:07] vernonminer commented on #52
Corrected validation code in Controller

[2016-09-14 01:04] junpaolo commented on #52
The product is duplicating each time I update the product
![manage product error1](https://cloud.githubusercontent.com/assets/20081753/18496646/0d3e9a94-7a5a-11e6-8a3e-3a8fb1ea2178.png)

Error message appears when I tried to edit again the same product for the 3rd time
![manage product error2](https://cloud.githubusercontent.com/assets/20081753/18496657/347917ce-7a5a-11e6-91b6-268147f9ffed.png)

[2016-09-15 13:47] vernonminer commented on #52
The products are NOT duplicating. The stored procedure that builds the list was duplicating the records because of a join with the product status table. I removed the join.

[2016-09-16 05:50] junpaolo commented on #52
Unable to search product
![unable to search product](https://cloud.githubusercontent.com/assets/20081753/18576476/7d18f420-7c14-11e6-9b1d-5bdfb5079798.png)

[2016-09-19 17:26] vernonminer commented on #52
Corrected product search.

[2016-09-20 00:44] junpaolo commented on #52
It seems that I can successfully edit product
![edit product details1](https://cloud.githubusercontent.com/assets/20081753/18653724/67d6baa0-7f0e-11e6-8060-59afa136e17d.png)

But when I try to edit the same product again an error message appears
![edit product details2 error](https://cloud.githubusercontent.com/assets/20081753/18653739/8007ae54-7f0e-11e6-800e-d809891e4bb2.png)

[2016-09-20 01:00] junpaolo commented on #52
Pass with comments

"When updating product groups  there is a stored procedure that is called when a new product is created or the product details are updated that assigns product groups. So the product groups list may not reflect the expected results. See this stored procedure for details

spProductGroupProductAssign"

[2016-09-20 01:00] #52 closed, assigned to vernonminer